In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [10]:
df_alineacion = pd.DataFrame()

In [11]:
posiciones_x = [0.05, 0.25, 0.25, 0.25, 0.25, 0.4, 0.55, 0.55, 0.7, 0.7, 0.8]
posiciones_y = [0.5, 0.2, 0.4, 0.6, 0.8, 0.5, 0.35, 0.65, 0.2, 0.8, 0.5]

In [13]:
df_alineacion['x'] = posiciones_x
df_alineacion['y'] = posiciones_y
df_alineacion

       x     y
0   0.05  0.50
1   0.25  0.20
2   0.25  0.40
3   0.25  0.60
4   0.25  0.80
5   0.40  0.50
6   0.55  0.35
7   0.55  0.65
8   0.70  0.20
9   0.70  0.80
10  0.80  0.50

In [14]:
#df_alineacion.to_excel(r'C:\Users\david\Proyectos\QATAR 2022\PROYECTO ESPAÃ‘A\pruebas\alineacion.xlsx', index=False)