### PROYECTO: FP_Fifa-World-Cup-2022_Spain-Analysis
### JUPYTER NOTEBOOK: sql
### FECHA: Diciembre 2022

### En este Jupyter Notebook se realizan las siguientes tareas:
#### - ETL del proyecto
#### - Importación de los eventos de las tablas de 'Players', 'Teams', 'Matches', 'Events' y 'Métricas' (estas 2 últimas están limpias y transformadas en el Jupyter Notebook 'main', realizando su limpieza y transformación.
#### - Carga de Tablas en SQL con sqlalchemy. Las relaciones entre tablas se han creado en MyWorkbench para que sea una base de datos relacional.
#### - Ejecución de algunas queries SQL para comprobar su correcto funcionamiento.
#### - Exportación para su posterior carga en la visualización Tableau

In [1]:
# importación de librerías
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Importación y limpieza tabla 'Players'

In [2]:
df_pl=pd.read_excel(r'C:\Users\david\OneDrive\Documentos\DATA ANALYTICS\Proyectos\Github\FP_Fifa-World-Cup-2022_Spain-Analysis\data\FWC 2022 - Player IDs_221208.xlsx')
df_pl.head()

,CompetitionId,TeamIfesId,TeamName,TeamDelegateFunction,TeamDelegateIfesId,PlayerShirtNumber,PlayerPosition,TeamDelegatePopularName,TeamDelegateDisplayName,TeamDelegateFirstName(s),TeamDelegateLastName(s),TeamDelegateGender,TeamDelegateDateofBirth,TeamDelegateFifaNationalityCountryCode
0,255711,43901,Costa Rica,Player,199175,1,Goalkeeper,NAVAS Keylor,Keylor NAVAS,Keilor Antonio,NAVAS GAMBOA,Male,1986-12-15,CRC
1,255711,43901,Costa Rica,Player,405824,2,Midfielder,CHACON Daniel,Daniel CHACON,Daniel Alonso,CHACÓN SALAS,Male,2001-04-11,CRC
2,255711,43901,Costa Rica,Player,411350,3,Defender,VARGAS Juan Pablo,Juan Pablo VARGAS,Juan Pablo,VARGAS CAMPOS,Male,1995-06-06,CRC
3,255711,43901,Costa Rica,Player,439979,4,Defender,FULLER Keysher,Keysher FULLER,Keysher,FULLER SPENCE,Male,1994-07-12,CRC
4,255711,43901,Costa Rica,Player,236530,5,Midfielder,BORGES Celso,Celso BORGES,Celso,BORGES MORA,Male,1988-05-27,CRC

In [3]:
df_pl.shape

(130, 14)

In [4]:
df_pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   CompetitionId                           130 non-null    int64
 1   TeamIfesId                              130 non-null    int64
 2   TeamName                                130 non-null    object
 3   TeamDelegateFunction                    130 non-null    object
 4   TeamDelegateIfesId                      130 non-null    int64
 5   PlayerShirtNumber                       130 non-null    int64
 6   PlayerPosition                          130 non-null    object
 7   TeamDelegatePopularName                 130 non-null    object
 8   TeamDelegateDisplayName                 130 non-null    object
 9   TeamDelegateFirstName(s)                130 non-null    object
 10  TeamDelegateLastName(s)                 130 non-null    object
 11  TeamDelegateGender                      130 non-null    object
 12  TeamDelegateDateofBirth                 130 non-null    datetime64[ns]
 13  TeamDelegateFifaNationalityCountryCode  130 non-null    object
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 14.3+ KB

In [5]:
df_pl = df_pl.drop(['TeamDelegateFunction', 'TeamDelegatePopularName', 'TeamDelegateGender'], axis=1)
df_pl.head()

,CompetitionId,TeamIfesId,TeamName,TeamDelegateIfesId,PlayerShirtNumber,PlayerPosition,TeamDelegateDisplayName,TeamDelegateFirstName(s),TeamDelegateLastName(s),TeamDelegateDateofBirth,TeamDelegateFifaNationalityCountryCode
0,255711,43901,Costa Rica,199175,1,Goalkeeper,Keylor NAVAS,Keilor Antonio,NAVAS GAMBOA,1986-12-15,CRC
1,255711,43901,Costa Rica,405824,2,Midfielder,Daniel CHACON,Daniel Alonso,CHACÓN SALAS,2001-04-11,CRC
2,255711,43901,Costa Rica,411350,3,Defender,Juan Pablo VARGAS,Juan Pablo,VARGAS CAMPOS,1995-06-06,CRC
3,255711,43901,Costa Rica,439979,4,Defender,Keysher FULLER,Keysher,FULLER SPENCE,1994-07-12,CRC
4,255711,43901,Costa Rica,236530,5,Midfielder,Celso BORGES,Celso,BORGES MORA,1988-05-27,CRC

In [6]:
df_pl = df_pl.rename(columns={'CompetitionId':'competition_id','TeamIfesId':'team_id', 'TeamName':'team', \
'TeamDelegateIfesId' : 'player_id', 'PlayerShirtNumber':'player_shirt_number','PlayerPosition':'player_position', \
'TeamDelegateDisplayName':'player_name', 'TeamDelegateFirstName(s)':'player_first_name', \
'TeamDelegateLastName(s)':'player_last_name', 'TeamDelegateDateofBirth': 'player_date_birth', \
'TeamDelegateFifaNationalityCountryCode': 'team_code'})
df_pl.head()

,competition_id,team_id,team,player_id,player_shirt_number,player_position,player_name,player_first_name,player_last_name,player_date_birth,team_code
0,255711,43901,Costa Rica,199175,1,Goalkeeper,Keylor NAVAS,Keilor Antonio,NAVAS GAMBOA,1986-12-15,CRC
1,255711,43901,Costa Rica,405824,2,Midfielder,Daniel CHACON,Daniel Alonso,CHACÓN SALAS,2001-04-11,CRC
2,255711,43901,Costa Rica,411350,3,Defender,Juan Pablo VARGAS,Juan Pablo,VARGAS CAMPOS,1995-06-06,CRC
3,255711,43901,Costa Rica,439979,4,Defender,Keysher FULLER,Keysher,FULLER SPENCE,1994-07-12,CRC
4,255711,43901,Costa Rica,236530,5,Midfielder,Celso BORGES,Celso,BORGES MORA,1988-05-27,CRC

In [7]:
df_pl.player_position = df_pl.player_position.apply(lambda x : x.lower())
df_pl.head()

,competition_id,team_id,team,player_id,player_shirt_number,player_position,player_name,player_first_name,player_last_name,player_date_birth,team_code
0,255711,43901,Costa Rica,199175,1,goalkeeper,Keylor NAVAS,Keilor Antonio,NAVAS GAMBOA,1986-12-15,CRC
1,255711,43901,Costa Rica,405824,2,midfielder,Daniel CHACON,Daniel Alonso,CHACÓN SALAS,2001-04-11,CRC
2,255711,43901,Costa Rica,411350,3,defender,Juan Pablo VARGAS,Juan Pablo,VARGAS CAMPOS,1995-06-06,CRC
3,255711,43901,Costa Rica,439979,4,defender,Keysher FULLER,Keysher,FULLER SPENCE,1994-07-12,CRC
4,255711,43901,Costa Rica,236530,5,midfielder,Celso BORGES,Celso,BORGES MORA,1988-05-27,CRC

### Importación y limpieza tabla 'Teams'

In [8]:
df_te=pd.read_excel(r'C:\Users\david\OneDrive\Documentos\DATA ANALYTICS\Proyectos\Github\FP_Fifa-World-Cup-2022_Spain-Analysis\data\FWC 2022 - Team IDs_221208.xlsx')
df_te.head()

   Team_id              Team   Team_Name Team_Code
0    43901  Costa Rica (CRC)  Costa Rica       CRC
1    43948     Germany (GER)     Germany       GER
2    43819       Japan (JPN)       Japan       JPN
3    43872     Morocco (MAR)     Morocco       MAR
4    43969       Spain (ESP)       Spain       ESP

In [9]:
df_te = df_te.drop(['Team'], axis=1)
df_te.head()

   Team_id   Team_Name Team_Code
0    43901  Costa Rica       CRC
1    43948     Germany       GER
2    43819       Japan       JPN
3    43872     Morocco       MAR
4    43969       Spain       ESP

In [10]:
df_te.columns= df_te.columns.str.lower()
df_te.head()

   team_id   team_name team_code
0    43901  Costa Rica       CRC
1    43948     Germany       GER
2    43819       Japan       JPN
3    43872     Morocco       MAR
4    43969       Spain       ESP

### Importación y limpieza tabla 'Matches'

In [11]:
df_ma=pd.read_excel(r'C:\Users\david\OneDrive\Documentos\DATA ANALYTICS\Proyectos\Github\FP_Fifa-World-Cup-2022_Spain-Analysis\data\FWC 2022 - Match IDs_221208.xlsx')
df_ma.head()

,Match Date,Match Status,not A-Match,Unnamed: 3,Kick-off,No.,Competition Name,Venue City,Stadium,Team A,Team B,90,90.1,HT,HT.1,ET,ET.1,PK,PK.1,FR A,FR B,Classification,Group,Attendance,Note,Unnamed: 25,Match ID,Competition ID
0,2022-11-20,NaN,NaN,NaN,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group A,NaN,NaN,NaN,128084,255711
1,2022-11-21,NaN,NaN,NaN,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group B,NaN,NaN,NaN,132997,255711
2,2022-11-21,NaN,NaN,NaN,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group A,NaN,NaN,NaN,132996,255711
3,2022-11-21,NaN,NaN,NaN,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group B,NaN,NaN,NaN,132995,255711
4,2022-11-22,NaN,NaN,NaN,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group C,NaN,NaN,NaN,133001,255711

In [12]:
df_ma = df_ma.drop(['Match Status', 'not A-Match', 'Unnamed: 3', 'Note', 'Unnamed: 25'], axis=1)
df_ma.head()

,Match Date,Kick-off,No.,Competition Name,Venue City,Stadium,Team A,Team B,90,90.1,HT,HT.1,ET,ET.1,PK,PK.1,FR A,FR B,Classification,Group,Attendance,Match ID,Competition ID
0,2022-11-20,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group A,NaN,128084,255711
1,2022-11-21,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group B,NaN,132997,255711
2,2022-11-21,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group A,NaN,132996,255711
3,2022-11-21,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group B,NaN,132995,255711
4,2022-11-22,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FWC,Group C,NaN,133001,255711

In [13]:
df_ma = df_ma.drop(df_ma.iloc[:,8:19], axis=1)
df_ma.head()

,Match Date,Kick-off,No.,Competition Name,Venue City,Stadium,Team A,Team B,Group,Attendance,Match ID,Competition ID
0,2022-11-20,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,Group A,NaN,128084,255711
1,2022-11-21,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,Group B,NaN,132997,255711
2,2022-11-21,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,Group A,NaN,132996,255711
3,2022-11-21,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,Group B,NaN,132995,255711
4,2022-11-22,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,Group C,NaN,133001,255711

In [14]:
df_ma.columns= df_ma.columns.str.lower()
df_ma.head()

,match date,kick-off,no.,competition name,venue city,stadium,team a,team b,group,attendance,match id,competition id
0,2022-11-20,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,Group A,NaN,128084,255711
1,2022-11-21,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,Group B,NaN,132997,255711
2,2022-11-21,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,Group A,NaN,132996,255711
3,2022-11-21,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,Group B,NaN,132995,255711
4,2022-11-22,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,Group C,NaN,133001,255711

In [15]:
df_ma.columns

Index(['match date', 'kick-off', 'no.', 'competition name', 'venue city',
       'stadium', 'team a', 'team b', 'group', 'attendance', 'match id',
       'competition id'],
      dtype='object')

In [16]:
df_ma = df_ma.rename(columns={'match date':'match_date','kick-off':'match_time', 'no.':'match_number', \
'competition name' : 'competition_name', 'venue city':'city','team a':'team_1', \
'team b':'team_2', 'match id':'match_id', 'competition id':'competition_id'})

In [17]:
df_ma.group[:48] = df_ma.group[:48].apply(lambda x : x[-1])
df_ma.head()

,match_date,match_time,match_number,competition_name,city,stadium,team_1,team_2,group,attendance,match_id,competition_id
0,2022-11-20,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,A,NaN,128084,255711
1,2022-11-21,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,B,NaN,132997,255711
2,2022-11-21,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,A,NaN,132996,255711
3,2022-11-21,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,B,NaN,132995,255711
4,2022-11-22,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,C,NaN,133001,255711

### Importación de tablas 'Events' y 'Métricas' para su carga en SQL

In [18]:
df_ev = pd.read_excel(r'C:\Users\david\OneDrive\Documentos\DATA ANALYTICS\Proyectos\Github\FP_Fifa-World-Cup-2022_Spain-Analysis\viz\ficheros Tableau\tabla_eventos.xlsx')
df_ev.head()

,match_id,match_run_time_in_ms,match_run_time,match_time_in_ms,event_id,player_seq_id,event_order,half_time,side,category,event,event_type,action_type,from_player_id,from_player_name,from_player_shirt_number,to_player_id,to_player_name,to_player_shirt_number,team_id,team_name,sequence_type,outcome,outcome_additional,opposition_touch,body_type,direction,pressure,style,style_additional,frame_location,game_state,origin,origin_additional,save_type,save_detail,stance,x_frame,y_frame,movement,offering_to_receive_total_units,line_break_direction,line_break_outcome,team_shape,team_unit,team_units_broken,total_team_units,event_end_time_in_ms,x,x_mirrored,y,y_mirrored,x_location_start,x_location_start_mirrored,x_location_end,x_location_end_mirrored,y_location_start,y_location_start_mirrored,y_location_end,y_location_end_mirrored,match_time_in_min
0,133004,0,00:00:00,0,1,1,1,1,NaN,in_possession,kickoff,start_restart,NaN,447866,GAVI,9,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499810,0.499810,0.503971,0.503971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,133004,0,00:00:00,0,2,1,2,1,NaN,in_possession,pass,distribution,NaN,447866,GAVI,9,335999.0,AYMERIC LAPORTE,24.0,43969,SPAIN,NaN,possession_complete,NaN,NaN,right_foot,NaN,no_pressure,push,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no_line_break,NaN,NaN,NaN,NaN,NaN,0.499810,0.499810,0.503971,0.503971,0.49981,0.49981,0.690286,0.309714,0.503971,0.503971,0.433382,0.566618,0
2,133004,1480,00:00:02,1480,3,2,1,1,r,in_possession,no_offer,offering_to_receive,NaN,335999,AYMERIC LAPORTE,24,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no_movement,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1480.0,0.691905,0.308095,0.428824,0.571176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,133004,1480,00:00:02,1480,4,2,2,1,r,in_possession,reception,receiving_possession,kickoff,335999,AYMERIC LAPORTE,24,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,no_pressure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inside,in_front,NaN,3.0,NaN,0.691905,0.308095,0.428824,0.571176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,133004,1519,00:00:02,1519,5,1,3,1,r,in_possession,possession_outcome,possession_outcome,NaN,447866,GAVI,9,NaN,NaN,NaN,43969,SPAIN,possession,possession_complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690286,0.309714,0.433382,0.566618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [19]:
df_est = pd.read_excel(r'C:\Users\david\OneDrive\Documentos\DATA ANALYTICS\Proyectos\Github\FP_Fifa-World-Cup-2022_Spain-Analysis\viz\ficheros Tableau\tabla_metricas.xlsx')
df_est

,match_id,team,corners,faltas_lanzadas,faltas_directas_lanzadas,faltas_realizadas,penaltis,penaltis_marcados,%_acierto_penaltis,saques_banda,saques_banda_recepcionados,%_acierto_sb,ofrecimientos,ofrecimientos_con_movimiento,ofrecimientos_con_movimiento_camp_contr,ofrecimientos_con_movimiento_ult_terc,remates_totales,remates_totales_fa,remates_on_target,remates_on_target_fa,remates_off_target,%_remates_on_target,goles,goles_fa,%_gol/on_target,goles_concedidos,centros_totales,centros_completados,asistencias_centro,pases,pases_completados,%_acierto_pases,pases_completados_linebreak,asistencias_pase,cambios_de_juego,pases_ultimo_tercio,pases_completados_ultimo_tercio,progresiones,intentos_regate,intentos_regate_ult_terc,regates_completados,regates_completados_ult_terc,recepciones,recep_behind,recep_3_4,recep_2_3,recep_1_2,recep_inside,%_recep_inside,recep_outside,%_recep_outside,recep_ultimo_tercio,bloqueos,despejes,intercepciones,entradas_totales,entradas_exitosas,%_entradas_exitosas,take_on_against,pushing-on,presiones,presiones_directas,%_presion_directa,gk_active_eng,gk_aerial_control,gk_def_support,gk_goalprevention_tot,gk_goalprevention_tot_saved,duelos_totales,duelos_totales_ganados,%_duelos_totales_ganados,duelos_campo_ganados,duelos_físicos_ganados,duelos_aereos_ganados,sustituciones,posesion,posesión_disputa,pases_verticales,pases_adelante,pases_atras,pases_horizontales,%_pases_verticales,%_pases_adelante,%_pases_atras,%_pases_horizontales,recuperaciones,recuperaciones_campo_contr,%_recuperaciones_campo_contr,recuperaciones_campo_prop,%_recuperaciones_campo_prop,recuperaciones1,recuperaciones_campo_contr1,%_recuperaciones_campo_contr1,recuperaciones_campo_prop1,%_recuperaciones_campo_prop1,perdidas,perdidas_campo_prop,%_perdidas_campo_prop,tarj_amarillas,tarjetas_rojas,asistencias_totales,xG,distancia_recorrida_km,n_speed_runs_(15-20km/h),n_of_sprints_(>20km/h),total_average_speed_(km/h)
0,133004,SPAIN,5,18,12,11,1,1,100,24,24,100.0,1677,1085,694,309,17,3,7,0,8,41.2,7,0,100.0,0,17,2,2,1037,976,94.1,193,2,8,203,180,42,11,9,2,2,1092,23,0,60,307,628,57.5,464,42.5,232,16,10,4,18,7,38.9,4,208,185,50,27.0,3,1,1,0,0,37,19,51,6,2,11,5,78.81,1.96,87,153,136,687,9,16,14,70,38,18,47,20,53,47,20,43,27,57,116,26,22,0,0,4,3.5,122.43399,1331,548,6.720440
1,133004,COSTA RICA,0,11,8,18,0,0,none,13,11,84.6,409,250,103,43,0,0,0,0,8,0.0,0,0,0.0,7,5,0,0,218,159,72.9,43,0,1,21,16,9,4,2,2,1,226,1,1,23,74,139,61.5,87,38.5,31,21,30,8,42,13,31.0,11,795,585,47,8.0,7,0,7,17,10,37,18,49,1,1,16,5,19.23,1.96,22,37,27,95,14,23,17,60,38,7,18,31,82,39,7,18,32,82,104,42,40,2,0,0,0.0,116.61037,1455,453,6.505847
2,133021,SPAIN,6,16,14,15,0,0,none,23,21,91.3,1040,633,282,112,7,2,3,1,2,42.9,1,0,33.3,1,9,2,1,624,542,86.9,118,0,9,69,55,31,11,5,1,0,666,16,3,47,186,362,54.4,304,45.6,92,24,28,6,40,13,32.5,9,316,275,45,16.4,5,4,3,11,9,33,16,48,6,1,9,4,60.23,2.17,53,98,88,356,10,18,16,66,47,13,28,34,72,50,15,30,35,70,139,62,45,1,0,1,0.6,112.65189,1461,557,6.504642
3,133021,GERMANY,5,15,13,16,0,0,none,15,8,53.3,670,440,209,107,10,3,4,0,2,40.0,1,0,25.0,1,13,1,0,337,270,80.1,63,0,2,53,30,30,9,4,4,1,379,9,2,34,132,246,64.9,133,35.1,82,32,24,8,45,14,31.1,11,508,387,59,15.2,3,0,2,7,6,36,18,50,8,1,9,5,37.60,2.17,35,59,42,169,13,22,16,63,48,15,31,33,69,53,16,30,37,70,128,32,25,3,0,0,1.3,115.54569,1559,617,6.681131
4,133035,SPAIN,2,11,9,8,0,0,none,22,20,90.9,1747,1138,825,451,14,7,5,1,2,35.7,1,0,20.0,2,20,2,0,1048,969,92.5,126,1,8,244,218,25,10,6,6,3,1092,17,0,18,193,674,61.7,418,38.3,282,7,15,11,16,8,50.0,4,173,150,25,16.7,1,0,1,6,4,30,13,43,3,0,10,5,78.95,1.58,59,123,123,723,6,13,13,75,35,11,31,24,69,35,11,31,24,69,128,19,15,0,0,1,1.4,114.04544,1326,459,6.558801
5,133035,JAPAN,0,8,6,11,0,0,none,11,10,90.9,437,315,123,56,6,2,3,1,2,50.0,2,1,66.7,1,6,3,1,214,155,72.4,45,1,2,29,26,10,4,2,2,1,237,10,0,21,75,159,67.1,78,32.9,44,39,39,10,29,6,20.7,10,791,637,62,9.7,3,1,1,14,13,30,17,57,4,1,12,5,19.47,1.58,27,44,20,91,17,28,13,59,34,4,12,30,88,34,4,12,30,88,91,34,37,3,0,2,1.0,116.00564,1333,493,6.866877
6,128074,SPAIN,8,20,14,18,3,0,0,33,33,100.0,1621,896,779,446,16,3,3,0,6,18.8,0,0,0.0,0,27,4,0,1008,932,92.5,126,0,8,196,167,26,13,8,4,1,1075,27,0,26,165,697,64.8,378,35.2,245,19,26,7,41,5,12.2,11,222,217,56,25.8,1,1,0,10,6,47,23,49,4,2,17,6,71.35,2.31,96,142,79,711,10,15,8,76,33,12,36,21,64,36,13,36,23,64,166,16,10,1,0,0,0.7,142.64314,1450,636,6.147745
7,128074,MOROCCO,0,18,14,20,4,3,75,29,21,72.4,613,438,163,71,10,3,7,1,6,70.0,0,0,42.9,0,10,4,0,294,207,70.4,62,0,4,29,18,21,11,3,4,0,330,10,4,25,136,202,61.2,128,38.8,51,32,56,9,52,15,28.8,13,599,573,75,13.1,4,3,1,17,17,49,23,47,3,5,15,6,26.34,2.31,35,57,37,113,17,28,18,55,51,3,6,48,94,59,5,8,54,92,149,58,39,1,0,0,1.0,147.78556,1533,614,6.100761

### CONEXIÓN A SQL Y CREACIÓN DE BBDD

In [20]:
#pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\david\software\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import mysql.connector as conn
from sqlalchemy import create_engine

In [22]:
with open('contraseñas.txt', 'r') as file:
    pass_=file.readlines()[0]

In [23]:
str_conn=f'mysql+pymysql://root:{pass_}@localhost:3306' #Conectar al servidor
cursor=create_engine(str_conn) #Cursor que apunta al servidor

In [24]:
#cursor.execute('drop database if exists worldxxxxxxcup_qatar_22;')

In [25]:
#cursor.execute('create database fifa_worldcup_2022;')

In [26]:
str_conn=f'mysql+pymysql://root:{pass_}@localhost:3306/fifa_worldcup_2022'
cursor=create_engine(str_conn)

In [27]:
df_pl.head()

,competition_id,team_id,team,player_id,player_shirt_number,player_position,player_name,player_first_name,player_last_name,player_date_birth,team_code
0,255711,43901,Costa Rica,199175,1,goalkeeper,Keylor NAVAS,Keilor Antonio,NAVAS GAMBOA,1986-12-15,CRC
1,255711,43901,Costa Rica,405824,2,midfielder,Daniel CHACON,Daniel Alonso,CHACÓN SALAS,2001-04-11,CRC
2,255711,43901,Costa Rica,411350,3,defender,Juan Pablo VARGAS,Juan Pablo,VARGAS CAMPOS,1995-06-06,CRC
3,255711,43901,Costa Rica,439979,4,defender,Keysher FULLER,Keysher,FULLER SPENCE,1994-07-12,CRC
4,255711,43901,Costa Rica,236530,5,midfielder,Celso BORGES,Celso,BORGES MORA,1988-05-27,CRC

In [28]:
df_te.head()

   team_id   team_name team_code
0    43901  Costa Rica       CRC
1    43948     Germany       GER
2    43819       Japan       JPN
3    43872     Morocco       MAR
4    43969       Spain       ESP

In [29]:
df_ma.head()

,match_date,match_time,match_number,competition_name,city,stadium,team_1,team_2,group,attendance,match_id,competition_id
0,2022-11-20,1900,1,FIFA World Cup Qatar 2022™,AL KHOR (QAT),Al Bayt Stadium,Qatar,Ecuador,A,NaN,128084,255711
1,2022-11-21,1600,3,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Khalifa International Stadium,England,IR Iran,B,NaN,132997,255711
2,2022-11-21,1900,2,FIFA World Cup Qatar 2022™,DOHA (AD-DAWHAH) (QAT),Al Thumama Stadium,Senegal,Netherlands,A,NaN,132996,255711
3,2022-11-21,2200,4,FIFA World Cup Qatar 2022™,AL RAYYAN (QAT),Ahmad Bin Ali Stadium,USA,Wales,B,NaN,132995,255711
4,2022-11-22,1300,8,FIFA World Cup Qatar 2022™,AL DAAYEN (QAT),Lusail Stadium,Argentina,Saudi Arabia,C,NaN,133001,255711

In [30]:
df_ev.head()

,match_id,match_run_time_in_ms,match_run_time,match_time_in_ms,event_id,player_seq_id,event_order,half_time,side,category,event,event_type,action_type,from_player_id,from_player_name,from_player_shirt_number,to_player_id,to_player_name,to_player_shirt_number,team_id,team_name,sequence_type,outcome,outcome_additional,opposition_touch,body_type,direction,pressure,style,style_additional,frame_location,game_state,origin,origin_additional,save_type,save_detail,stance,x_frame,y_frame,movement,offering_to_receive_total_units,line_break_direction,line_break_outcome,team_shape,team_unit,team_units_broken,total_team_units,event_end_time_in_ms,x,x_mirrored,y,y_mirrored,x_location_start,x_location_start_mirrored,x_location_end,x_location_end_mirrored,y_location_start,y_location_start_mirrored,y_location_end,y_location_end_mirrored,match_time_in_min
0,133004,0,00:00:00,0,1,1,1,1,NaN,in_possession,kickoff,start_restart,NaN,447866,GAVI,9,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499810,0.499810,0.503971,0.503971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,133004,0,00:00:00,0,2,1,2,1,NaN,in_possession,pass,distribution,NaN,447866,GAVI,9,335999.0,AYMERIC LAPORTE,24.0,43969,SPAIN,NaN,possession_complete,NaN,NaN,right_foot,NaN,no_pressure,push,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no_line_break,NaN,NaN,NaN,NaN,NaN,0.499810,0.499810,0.503971,0.503971,0.49981,0.49981,0.690286,0.309714,0.503971,0.503971,0.433382,0.566618,0
2,133004,1480,00:00:02,1480,3,2,1,1,r,in_possession,no_offer,offering_to_receive,NaN,335999,AYMERIC LAPORTE,24,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no_movement,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1480.0,0.691905,0.308095,0.428824,0.571176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,133004,1480,00:00:02,1480,4,2,2,1,r,in_possession,reception,receiving_possession,kickoff,335999,AYMERIC LAPORTE,24,NaN,NaN,NaN,43969,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,no_pressure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inside,in_front,NaN,3.0,NaN,0.691905,0.308095,0.428824,0.571176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,133004,1519,00:00:02,1519,5,1,3,1,r,in_possession,possession_outcome,possession_outcome,NaN,447866,GAVI,9,NaN,NaN,NaN,43969,SPAIN,possession,possession_complete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690286,0.309714,0.433382,0.566618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [31]:
df_est.head()

,match_id,team,corners,faltas_lanzadas,faltas_directas_lanzadas,faltas_realizadas,penaltis,penaltis_marcados,%_acierto_penaltis,saques_banda,saques_banda_recepcionados,%_acierto_sb,ofrecimientos,ofrecimientos_con_movimiento,ofrecimientos_con_movimiento_camp_contr,ofrecimientos_con_movimiento_ult_terc,remates_totales,remates_totales_fa,remates_on_target,remates_on_target_fa,remates_off_target,%_remates_on_target,goles,goles_fa,%_gol/on_target,goles_concedidos,centros_totales,centros_completados,asistencias_centro,pases,pases_completados,%_acierto_pases,pases_completados_linebreak,asistencias_pase,cambios_de_juego,pases_ultimo_tercio,pases_completados_ultimo_tercio,progresiones,intentos_regate,intentos_regate_ult_terc,regates_completados,regates_completados_ult_terc,recepciones,recep_behind,recep_3_4,recep_2_3,recep_1_2,recep_inside,%_recep_inside,recep_outside,%_recep_outside,recep_ultimo_tercio,bloqueos,despejes,intercepciones,entradas_totales,entradas_exitosas,%_entradas_exitosas,take_on_against,pushing-on,presiones,presiones_directas,%_presion_directa,gk_active_eng,gk_aerial_control,gk_def_support,gk_goalprevention_tot,gk_goalprevention_tot_saved,duelos_totales,duelos_totales_ganados,%_duelos_totales_ganados,duelos_campo_ganados,duelos_físicos_ganados,duelos_aereos_ganados,sustituciones,posesion,posesión_disputa,pases_verticales,pases_adelante,pases_atras,pases_horizontales,%_pases_verticales,%_pases_adelante,%_pases_atras,%_pases_horizontales,recuperaciones,recuperaciones_campo_contr,%_recuperaciones_campo_contr,recuperaciones_campo_prop,%_recuperaciones_campo_prop,recuperaciones1,recuperaciones_campo_contr1,%_recuperaciones_campo_contr1,recuperaciones_campo_prop1,%_recuperaciones_campo_prop1,perdidas,perdidas_campo_prop,%_perdidas_campo_prop,tarj_amarillas,tarjetas_rojas,asistencias_totales,xG,distancia_recorrida_km,n_speed_runs_(15-20km/h),n_of_sprints_(>20km/h),total_average_speed_(km/h)
0,133004,SPAIN,5,18,12,11,1,1,100,24,24,100.0,1677,1085,694,309,17,3,7,0,8,41.2,7,0,100.0,0,17,2,2,1037,976,94.1,193,2,8,203,180,42,11,9,2,2,1092,23,0,60,307,628,57.5,464,42.5,232,16,10,4,18,7,38.9,4,208,185,50,27.0,3,1,1,0,0,37,19,51,6,2,11,5,78.81,1.96,87,153,136,687,9,16,14,70,38,18,47,20,53,47,20,43,27,57,116,26,22,0,0,4,3.5,122.43399,1331,548,6.720440
1,133004,COSTA RICA,0,11,8,18,0,0,none,13,11,84.6,409,250,103,43,0,0,0,0,8,0.0,0,0,0.0,7,5,0,0,218,159,72.9,43,0,1,21,16,9,4,2,2,1,226,1,1,23,74,139,61.5,87,38.5,31,21,30,8,42,13,31.0,11,795,585,47,8.0,7,0,7,17,10,37,18,49,1,1,16,5,19.23,1.96,22,37,27,95,14,23,17,60,38,7,18,31,82,39,7,18,32,82,104,42,40,2,0,0,0.0,116.61037,1455,453,6.505847
2,133021,SPAIN,6,16,14,15,0,0,none,23,21,91.3,1040,633,282,112,7,2,3,1,2,42.9,1,0,33.3,1,9,2,1,624,542,86.9,118,0,9,69,55,31,11,5,1,0,666,16,3,47,186,362,54.4,304,45.6,92,24,28,6,40,13,32.5,9,316,275,45,16.4,5,4,3,11,9,33,16,48,6,1,9,4,60.23,2.17,53,98,88,356,10,18,16,66,47,13,28,34,72,50,15,30,35,70,139,62,45,1,0,1,0.6,112.65189,1461,557,6.504642
3,133021,GERMANY,5,15,13,16,0,0,none,15,8,53.3,670,440,209,107,10,3,4,0,2,40.0,1,0,25.0,1,13,1,0,337,270,80.1,63,0,2,53,30,30,9,4,4,1,379,9,2,34,132,246,64.9,133,35.1,82,32,24,8,45,14,31.1,11,508,387,59,15.2,3,0,2,7,6,36,18,50,8,1,9,5,37.60,2.17,35,59,42,169,13,22,16,63,48,15,31,33,69,53,16,30,37,70,128,32,25,3,0,0,1.3,115.54569,1559,617,6.681131
4,133035,SPAIN,2,11,9,8,0,0,none,22,20,90.9,1747,1138,825,451,14,7,5,1,2,35.7,1,0,20.0,2,20,2,0,1048,969,92.5,126,1,8,244,218,25,10,6,6,3,1092,17,0,18,193,674,61.7,418,38.3,282,7,15,11,16,8,50.0,4,173,150,25,16.7,1,0,1,6,4,30,13,43,3,0,10,5,78.95,1.58,59,123,123,723,6,13,13,75,35,11,31,24,69,35,11,31,24,69,128,19,15,0,0,1,1.4,114.04544,1326,459,6.558801

In [32]:
df_pl.to_sql(name='players', con=cursor, if_exists='replace', index=False)
df_te.to_sql(name='teams', con=cursor, if_exists='replace', index=False)
df_ma.to_sql(name='matches', con=cursor, if_exists='replace', index=False)
df_ev.to_sql(name='events', con=cursor, if_exists='replace', index=False)
df_est.to_sql(name='metricas', con=cursor, if_exists='replace', index=False)

8

### Tiramos algunas Queries para comprobar el correcto funcionamiento de la DB

In [33]:
#1 CUÁNTOS PASES HA HABIDO EN EL PARTIDO?
pd.read_sql('''

SELECT T.TEAM_ID, T.TEAM_NAME, COUNT(E.EVENT) AS TOTAL_PASSES
FROM TEAMS AS T
LEFT JOIN EVENTS AS E
ON T.TEAM_ID = E.TEAM_ID
WHERE E.EVENT = 'pass'
GROUP BY TEAM_NAME


''', cursor)

   TEAM_ID   TEAM_NAME  TOTAL_PASSES
0    43969       Spain          3717
1    43901  Costa Rica           218
2    43948     Germany           337
3    43819       Japan           214
4    43872     Morocco           294

In [34]:
#1 CUÁNTOS GOLES HA HABIDO EN EL PARTIDO?
pd.read_sql('''

SELECT T.TEAM_ID, T.TEAM_NAME, COUNT(E.EVENT) AS TOTAL_GOALS
FROM TEAMS AS T
LEFT JOIN EVENTS AS E
ON T.TEAM_ID = E.TEAM_ID
WHERE E.EVENT = 'goal'
GROUP BY TEAM_NAME


''', cursor)

   TEAM_ID TEAM_NAME  TOTAL_GOALS
0    43969     Spain            9
1    43948   Germany            1
2    43819     Japan            2
3    43872   Morocco            3

In [35]:
#df_pl.to_excel(r'C:\Users\david\Proyectos\QATAR 2022\PROYECTO ESPAÑA\repositorio\viz\ficheros Tableau\players.xlsx', index=False)
#df_te.to_excel(r'C:\Users\david\Proyectos\QATAR 2022\PROYECTO ESPAÑA\repositorio\viz\ficheros Tableau\teams.xlsx', index=False)
#df_ma.to_excel(r'C:\Users\david\Proyectos\QATAR 2022\PROYECTO ESPAÑA\repositorio\viz\ficheros Tableau\matches.xlsx', index=False)
##df_ev.to_excel(r'C:\Users\david\Proyectos\QATAR 2022\viz\eventa.xlsx', index=False)